{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="text-center mt-5">

    <h1 class="display-3 fw-bold">
        Company Stream App
    </h1>

    <p class="lead mt-4">
        Empowering companies with real-time employee collaboration,
        live department communication, productivity tracking,
        and smart reporting systems.
    </p>

    <hr class="my-4">

    <p class="fs-5">
        Connect teams. Track work. Share reports.
        Improve productivity — all in one platform.
    </p>

    <a href="/dashboard" class="btn btn-dark btn-lg mt-3">
        Open Dashboard
    </a>

</div>

{% endblock %}